
@model IEnumerable<StateViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                Country
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var state in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => state.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => state.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => state.CountryName)
            </td>
            <td>
                    <partial name="ActionLinks" model="@state.Id"></partial>
            </td>
        </tr>
}
    </tbody>
</table>
