
@model IEnumerable<DistrictViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistrictName)
            </th>
            <th>
               State
            </th>
            <th>
                Country
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var district in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => district.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => district.DistrictName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => district.StateName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => district.CountryName)
                </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = district.Id }) |
                
                    @Html.ActionLink("Delete", "Delete", new { id = district.Id })
            </td>
        </tr>
}
    </tbody>
</table>
